<p>Hello,</p>

<h3>You have received a new feedback on your test: <%= @test.title %></h3>

<p><strong>From: <%= @feedback.name %></strong></p>

<p class="mb-5"><strong>Message:</strong></p>
<p><%= @feedback.message %></p>

<p>Thank you!</p>
