<p>Здравствуйте,</p>

<h3>Вы получили новый отзыв о вашем тесте: <%= @test.title %></h3>

<p><strong>От: <%= @feedback.name %></strong></p>

<p class="mb-5"><strong>Отзыв:</strong></p>
<p><%= @feedback.message %></p>

<p>Cпасибо!</p>
