<% if resource.errors.present? %>
  <div class="alert alert-danger">
    <strong><%= t('.header', count: resource.errors.count) %></strong>
    <ul class="mb-0">
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
