<footer>
  <p> <%= current_year %> Автор проекта: Моторина Лидия</p>

  <p>
    <%= github_url('MotorinaLidiya', 'test-guru', 'TestGuru') %>
    — платформа для создания тестов и управления ими
  </p>

  <p>
    <%= link_to 'Учебный проект в онлайн-школе Thinknetica', 'https://thinknetica.com', target: "_blank", rel: "nofollow noopener" %>
  </p>
</footer>