<footer>
  <p class="center-text"><%= current_year %></p>

  <p class="center-text"> Автор проекта: Моторина Лидия </p>

  <p class="center-text">
    <%= github_url('MotorinaLidiya', 'test-guru') %> — платформа для создания тестов и управления ими
  </p>

  <p class="center-text">
    <%= link_to 'Учебный проект в онлайн-школе Thinknetica', 'https://thinknetica.com', target: "_blank", rel: "nofollow noopener" %>
  </p>
</footer>
