<h2><%= t('.header') %></h2>

<p class="mt-4">
  <%= @answer.question.body %>
</p>

<%= render 'form' %>

<%= button_to t('helpers.button.back'), admin_question_path(@answer.question), method: :get, class: "btn btn-light text-custom border" %>
